@media screen and (min-width: 960px) {

* {
  outline: none;
}
.mobileNavElementOne {
  display: none;
}
.mobileNavElementTwo {
  display: none;
}

.mobileNavElementThree {
  display: none;
}
.mobileNavElementFour {
  display: none;
}
.mobileNavElementFive {
  display: none;
}
.mobileNavElementSix {
  display: none;
}
#mobileNav {
  display: none;
}
body {
  margin:0;
  padding:0;
  background: radial-gradient(white, #3f87ae, #012f5a);
  
}

.gradientBack {
  background:linear-gradient(to right, #111213 , #292a2b);
  position: absolute;
  left:60%;
  top:0;
  height:100%;
  width:50%;
  z-index: -1;

}

.allContent {
width:960px;
margin: 0 auto;
box-shadow: 0 90px 100px 0 rgba(255, 255, 255, 0.4)
}
// HEADER STARTS HERE


input[type=text] {
display: flex;
width: 175px;
height:20px;
box-sizing: border-box;
border: 1px solid #ccc;
border-radius: 20px;
font-size: 12px;
background-color: white;
background-image: url('../../build/images/search.png');
background-size: 15px;
background-position: 10px 4.5px; 
background-repeat: no-repeat;
padding: 12px 20px 12px 40px;
position: absolute;
top:15px;
right:29px;
transition: 0.3s ease-in-out;


&:hover {
  border: 1px solid rgb(121, 121, 121);
  transition: 0.3s ease-in-out;
}
}

.wrap {
display: flex;
flex-direction: row;

i {
  height:30px;
}

button {
  height:25px;
}
}
header {
display: flex;
background-color:#111213;
flex-direction: row;
justify-content: space-between;
padding-bottom:15px;
position: relative;
overflow: hidden;
z-index: 0;

nav {
  display: flex;
  width:50%;
  justify-content: center;
  padding-right:29px;
  height:82px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  width:100%;
  align-self: flex-end;
  a {
    color:white;
    text-decoration: none;
    font-size:13px;
    transition: 0.3s ease-in-out;

    &:hover {
      color:#5ab0db;
      transition: 0.3s ease-in-out;
      cursor: pointer;
    }
  }
}
}

.logo {
margin: 25px 0% 0% 25px;
width: 400px;
height: 60px;
display: flex;
align-self: flex-end;
}
.backBar {
  width:100%;
  background-color:#111213;
}

.backBarWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  h2 {
    font-family: 'Cormorant Garamond', serif;
    color:#969696;
    font-size:25px;
    text-align: left;
    font-weight: 100;

  }

  div {
    display: flex;
    flex-direction: column;
    width:50%;
    margin:20px 50px 20px 40px; 


    &:nth-child(2) {
      width:30%;
      margin: auto 0px;
    }
  }

  img {
    width:250px;
    height:auto;
    margin:auto;
  }

  a {
    margin: auto 0;
    width:100%;

  }
}

// SECTION 1 STARTS HERE


.section1 {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .sideBar {
    background-image: url(../../build/images/gradientBackground.png);
    width:30%;
    height:100%;
    padding-bottom:100px;

    span {
      width:85%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
    }

    h1 {
      font-size:25px;
      font-weight: 100;
    }
  }

  .articlesLeft {
    width:65%;
  }
  
}

.articles {
  display: flex;
  flex-direction: row;
  margin-top:0px;
  padding-top:30px;
  padding-bottom:30px;
  h1 {
    margin:0 ;
    padding-top:0px;
    font-size:22px;
    font-weight: 100;

  }

  img {
    margin-left:25px;
    background-color: #e5e5e5;
    border: 1px solid rgb(224, 224, 224);
    padding: 4px;
    width:185px;
    height:185px;
  }


  span {
    display: flex;
    flex-direction: column;

    button {
      background-color:#2c83b0;
      width:150px;
      height:32px;
      border-radius: 3px;
      color:#E1E1E1;
      box-shadow: 0px 1px 0.5px rgba(0,0,0,1);
      border-color: #59a4cb;
      transition: 0.3s ease-in-out;


      &:hover {
        background:#5ab0db;
        cursor: pointer;
        transition: 0.3s ease-in-out;
      }
    }
  }

  .rightWrapper {
    margin-left:25px;

    p {
      line-height: 21px;
      font-weight: 100;
      font-size:15px;
      font-family: Georgia, 'Times New Roman', Times, serif;

    }
    span {
      font-size:80%;
      color:#2c83b0;
    }

    h1 {
      color:black;
      font-family: 'Cormorant Garamond', serif;
      font-weight:300;
    }
  }
}

.line {
width:100%;
height:1px;
background:radial-gradient(#E1E1E1, #fff);
margin-left:29px;

}

.sideBar {
p {
  margin-bottom:0px;
  line-height: 22px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

a {
  color:#2c83b0;
  text-decoration: none;
  line-height: 30px;
  transition: 0.3s ease-in-out;


  &:hover {
    color:#5ab0db;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }

}
}

#lastLine {
margin-bottom:50px;
}
.section1 .sideBar h1 {
margin-top:30px;
font-family: 'Cormorant Garamond', serif;

}
.numberPages {
margin-left:29px;
margin-bottom:40px;
button {
  width:100px;
  height:23px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: none;
  background-color:#eeeeee;
  color:#9a9aa4;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: #c1c1c1;
    color:white;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }

}

span {
  button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width:30px;

    &:nth-child(1) {
      background-color: #c1c1c1;
      color:white;
    }

  }
}
}

// SECTION 2 STARTS HERE
.section2 {
  background-color: white;
  padding:0px 29px 50px 29px;

  h1 {
    margin-top:0;
    font-size:25px;
    font-family: 'Cormorant Garamond', serif;
  }
}
.sponsorIndividualLine {
  display: flex;
  flex-direction: row;
  width:100%;
  justify-content: space-between;

  span {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:35%;
  }
}
.sponsorFrame {
  border: 4px solid #f6f6f6;
  padding: 4px;
  width: 130px;
  height: 75px;
  overflow: hidden;
  display: flex;
  margin-top:6px;
  img {
    background-color: #e5e5e5;
    margin: auto;
    max-width: 120px;
    max-height: 70px;
    
  }
}

footer {
  background-color:#111213;
  padding-bottom:50px;

  .footerWrapper {
    width:100%;
    padding-left:29px;
    padding-right:29px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  .contentColumn {
    padding-top:29px;
    width:30%;
    display: flex;
    flex-direction: column;
    a {
      text-decoration: none;
      color:#6f6e6e;
      transition: 0.3s ease-in-out;

      &:hover {
        color:#5ab0db;
        cursor: pointer;
        transition: 0.3s ease-in-out;
      }
    }
    img {
      width:288px;
      height:auto;
    }

    h1 {
      color:#ffffff;
      font-family: 'Cormorant Garamond', serif;
      font-size:25px;
      font-weight: 100;
      margin-top:0;
      margin-bottom:10px;

    }
    
    p {
      color:#6f6e6e;
      font-weight: 100;
      font-size:13px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      line-height: 20px;
            }

    .lighter {
      color:#a3a3a3;
      font-weight: 100;
      font-family: Georgia, 'Times New Roman', Times, serif;

    }
  }
}

#footerSocial {
  width:230px;
  height:auto;
}



//SLIDER 
.jssorl-009-spin img {
  animation-name: jssorl-009-spin;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*jssor slider bullet skin 032 css*/
.jssorb032 { 
position:absolute;
}

.jssorb032 .i {
position:absolute;
cursor:pointer;
}

.jssorb032 .i .b {
fill:#2c83b0;
fill-opacity:0.7;
stroke-width:1200;
stroke-miterlimit:10;
stroke-opacity:0.25;
}

.jssorb032 .i:hover .b {
fill:#2c83b0;
fill-opacity:.6;
stroke:#fff;
stroke-opacity:.35;
}

.jssorb032 .iav .b {
fill:#a3a3a3;
fill-opacity:1;
stroke-opacity:.35;
}
.jssorb032 .i.idn {
opacity:.3;
}

/*jssor slider arrow skin 051 css*/
.jssora051 {
display:block;
position:absolute;
cursor:pointer;
}

.jssora051 .a {
fill:none;
stroke:#fff;
stroke-width:360;
stroke-miterlimit:10;
}

.jssora051:hover {
opacity:.8;
}

.jssora051.jssora051dn {
opacity:.5;
}

.jssora051.jssora051ds {
opacity:.3;
pointer-events:none;
}

#jssor_1 {
position:relative;
margin:0 auto;
left:0px;
width:1300px;
height:500px;
overflow:hidden;
visibility:hidden;
background: #111213;

}


#spin {
margin-top:-19px;
position:relative;
top:50%;
width:38px;
height:38px
}

.jssorl-009-spin {
position:absolute;
top:0px;
left:0px;
width:100%;
height:100%;
text-align:center;
background-color:rgba(0,0,0,0.7);
}

.slides {
cursor:default;
position:relative;
top:0px;
left:0px;
width:1300px;
height:500px;
overflow:hidden;
}

.jssorb032 {
position:absolute;
bottom:20px;
left:-400px !important;
}

.i {
width:16px;
height:16px
}

#viewBoxBox {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
}

#viewbox {
position:absolute;
top:0;
left:0px;
width:100%;
height:100%;
}
.jssora051 {
width:65px;
height:65px;
top:0px;
}

#arrowLeft {
display: none;
}


#arrowRight {
display: none;
}
}