@media only screen and (max-width: 767px) {

input[type=text] {
    display: none;
}

.navbar {
    display: none;
}

body {
    margin:0;
    padding:0;
    overflow-x: hidden;
}


.mobileNavElementOne {
  display: none;
  position: absolute;
  top: 190px;
  left: 10%;
  color: white;
  text-decoration: none;
  font-size: 18px;
  z-index: 2;
  
}
.mobileNavElementTwo {
  display: none;
  position: absolute;
  top: 250px;
  left: 10%;
  color: white;
  text-decoration: none;
  font-size: 18px;
  z-index: 2;
}

.mobileNavElementThree {
  display: none;
  position: absolute;
  top: 310px;
  left: 10%;
  color: white;
  text-decoration: none;
  font-size: 18px;
  z-index: 2;
}

.mobileNavElementFour {
  display: none;
  position: absolute;
  top: 370px;
  left: 10%;
  color: white;
  text-decoration: none;
  font-size: 18px;
  z-index: 2;
}

.mobileNavElementFive {
  display: none;
  position: absolute;
  top: 430px;
  left: 10%;
  color: white;
  text-decoration: none;
  font-size: 18px;
  z-index: 2;
}

.mobileNavElementSix {
  display: none;
  position: absolute;
  top: 490px;
  left: 10%;
  color: white;
  text-decoration: none;
  font-size: 18px;
  z-index: 2;
}

.burgerMenu {
  position: absolute;
  top: 45px;
  right: 10%;
}

.darkOverlay {
  width: 100%;
  height: 100%;
  background-color: #111213;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  overflow: hidden !important;
}

.whiteCross {
  display: none;
  position: absolute;
  top: 45px;
  right: 11%;
  height: 17px;
  width: auto;
  z-index: 2;
}

header {
  background:#111213;
  height:100px;
  z-index: 0;

}

.logo {
  margin: 35px 0% 0% 10%;
  width:250px;
  height:auto;
}


.backBar {
  width:100%;
  background-color:#111213;
  margin-bottom:35px;
}

.backBarWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-direction: column;
  h2 {
    font-family: 'Cormorant Garamond', serif;
    color:#969696;
    margin: auto;
    padding: 40px 0px 0px 0px;
    font-size:20px;
    text-align: center;
  }

  img {
    width:250px;
    height:auto;
    display: flex;
    margin: 10px auto 25px;
  }

  a {
    margin: 10px auto 20px;

  }
}


.articlesLeft {
  padding: 0px 10%;
}
.articles {
    display: flex;
    flex-direction: column;
    img {
        width:220px;
        max-width: 220px;
        height:auto;
        margin: 40px auto 10px;
    }

    h1 {
      color:black;
      font-family: 'Cormorant Garamond', serif;
      font-weight:300;
      text-align: center;
    }
    .rightWrapper {
      display: flex;
      flex-direction: column;
      justify-content:center;

      span {
          font-size:80%;
          color:#2c83b0;
          display: flex;
          justify-content: center;
          flex-direction: column;
          text-align: center;
        }

        button {
          background-color:#2c83b0;
          width:150px;
          height:32px;
          border-radius: 3px;
          color:#E1E1E1;
          box-shadow: 0px 1px 0.5px rgba(0,0,0,1);
          border-color: #59a4cb;
          transition: 0.3s ease-in-out;
          margin: 5px auto 40px auto;

        }
        p {
            text-align: center;
            width:90%;
            font-family: Georgia, 'Times New Roman', Times, serif;
            line-height: 21px;
            font-weight: 100;
            font-size:13px;
            margin: 20px auto;
        }
    }
}

.line {
  width:90%;
  height:1.5px;
  background:radial-gradient(#E1E1E1, #fff);
  
  }

.sideBar {
  background-image: url(../../build/images/gradientBackground.png);
  width:100%;
  height:100%;
  display: flex;
  padding:10% 0 50px;

  span {
    margin: 0 auto;
    width:50%;
  }

  h1 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    text-align: center;
    margin-top:50px;
    &:first-child {
      margin-top:10px;
      
    }
  }

  p {
    margin-bottom:0;
    line-height:20px;
    font-size:13px;
    text-align: center;
  }

  a {
    display: flex;
    justify-content: center;
    color:#2c83b0;
    text-decoration: none;
    line-height: 20px;
    transition: 0.3s ease-in-out;
  
  }
}

.numberPages {
  margin-bottom:40px;
  margin-top:20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  button {
    width:55px;
    height:23px;
    font-size:8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    background-color:#eeeeee;
    color:#9a9aa4;
    transition: 0.3s ease-in-out;
    padding: 0;
  }

  span {
    height:23px;
    margin-left:5px;
  }
  }

  .section2  {
    margin: 50px 10% 0px;
    h1 {
      margin-top: 0;
      font-size: 25px;
      font-family: 'Cormorant Garamond', serif;
      font-weight: 100;
      text-align: center;
  }
    .sponsorIndividualLine {
      display: flex;
      flex-direction: column;
      width:100%;
      justify-content: space-between;

      span {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .sponsorFrame { 
          display: flex;
          &:nth-child(2) {
            margin-left:5%;
          }
        }
      }
    }
    .sponsorFrame {
      border: 4px solid #f6f6f6;
      padding: 4px;
      min-width: 130px;
      width:40%;
      height: 78px;
      overflow: hidden;
      display: flex;
      margin-top:6px;
      img {
        background-color: #e5e5e5;
        margin: auto;
        max-width: 120px;
        max-height: 70px;
        
      }
    }
}

.sponsorWrapper {
  margin-bottom:50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer {
  background-color:#111213;
  padding-bottom:50px;
  text-align: center;

  .footerWrapper {
    width:100%;
    padding-left:29px;
    padding-right:29px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .contentColumn {
    padding-top:29px;
    width:80%;
    display: flex;
    flex-direction: column;
    a {
      text-decoration: none;
      color:#6f6e6e;
      transition: 0.3s ease-in-out;

      &:hover {
        color:#5ab0db;
        cursor: pointer;
        transition: 0.3s ease-in-out;
      }
    }
    img {
      width:288px;
      height:auto;
    }

    h1 {
      color:#ffffff;
      font-family: 'Cormorant Garamond', serif;
      font-size:25px;
      font-weight: 100;
      margin-top:0;
      margin-bottom:10px;

    }
    
    p {
      color:#6f6e6e;
      font-weight: 100;
      font-size:13px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      line-height: 20px;
            }

    .lighter {
      color:#a3a3a3;
      font-weight: 100;
      font-family: Georgia, 'Times New Roman', Times, serif;

    }
  }
}

#footerSocial {
  width:230px;
  height:auto;
}

 //SLIDER 
.jssorl-009-spin img {
  animation-name: jssorl-009-spin;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*jssor slider bullet skin 032 css*/
.jssorb032 { 
position:absolute;
}

.jssorb032 .i {
position:absolute;
cursor:pointer;
}

.jssorb032 .i .b {
fill:#2c83b0;
fill-opacity:0.7;
stroke-width:1200;
stroke-miterlimit:10;
stroke-opacity:0.25;
}

.jssorb032 .i:hover .b {
fill:#2c83b0;
fill-opacity:.6;
stroke:#fff;
stroke-opacity:.35;
}

.jssorb032 .iav .b {
fill:#a3a3a3;
fill-opacity:1;
stroke-opacity:.35;
}
.jssorb032 .i.idn {
opacity:.3;
}

/*jssor slider arrow skin 051 css*/
.jssora051 {
display:block;
position:absolute;
cursor:pointer;
}

.jssora051 .a {
fill:none;
stroke:#fff;
stroke-width:360;
stroke-miterlimit:10;
}

.jssora051:hover {
opacity:.8;
}

.jssora051.jssora051dn {
opacity:.5;
}

.jssora051.jssora051ds {
opacity:.3;
pointer-events:none;
}

#jssor_1 {
position:relative;
margin:0 auto;
left:0px;
width:1300px;
height:500px;
overflow:hidden;
visibility:hidden;
background: #111213;

}


#spin {
margin-top:-19px;
position:relative;
top:50%;
width:38px;
height:38px
}

.jssorl-009-spin {
position:absolute;
top:0px;
left:0px;
width:100%;
height:100%;
text-align:center;
background-color:rgba(0,0,0,0.7);
}

.slides {
cursor:default;
position:relative;
top:0px;
left:0px;
width:1300px;
height:500px;
overflow:hidden;
}

.jssorb032 {
position:absolute;
bottom:20px;
left:-200% !important;
}

.i {
width:16px;
height:16px
}

#viewBoxBox {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
}

#viewbox {
position:absolute;
top:0;
left:0px;
width:100%;
height:100%;
}
.jssora051 {
width:65px;
height:65px;
top:0px;
}

#arrowLeft {
display: none;
}


#arrowRight {
display: none;
}
}