@media screen and (max-width: 959px) and (min-width: 768px) {

    h1 {
        font-family: 'Cormorant Garamond', serif;
        font-weight:300;  
    }


.burgerMenu {
  position: absolute;
  top: 45px;
  right: 10%;
}

.mobileNavElementOne {
  display: none;
  position: absolute;
  top: 190px;
  left: 10%;
  color: white;
  text-decoration: none;
  font-size: 22px;
  z-index: 2;
}
.mobileNavElementTwo {
  display: none;
  position: absolute;
  top: 250px;
  left: 10%;
  color: white;
  text-decoration: none;
  font-size: 22px;
  z-index: 2;
}

.mobileNavElementThree {
  display: none;
  position: absolute;
  top: 310px;
  left: 10%;
  color: white;
  text-decoration: none;
  font-size: 22px;
  z-index: 2;
}

.mobileNavElementFour {
  display: none;
  position: absolute;
  top: 370px;
  left: 10%;
  color: white;
  text-decoration: none;
  font-size: 22px;
  z-index: 2;
}

.mobileNavElementFive {
  display: none;
  position: absolute;
  top: 430px;
  left: 10%;
  color: white;
  text-decoration: none;
  font-size: 22px;
  z-index: 2;
}

.mobileNavElementSix {
  display: none;
  position: absolute;
  top: 490px;
  left: 10%;
  color: white;
  text-decoration: none;
  font-size: 22px;
  z-index: 2;
}

.darkOverlay {
  width: 100%;
  height: 100%;
  background-color: #111213;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  overflow: hidden !important;
}

.whiteCross {
  display: none;
  position: absolute;
  top: 45px;
  right: 11%;
  height: 17px;
  width: auto;
  z-index: 2;
}

    p {
        line-height: 21px;
        font-weight: 100;
        font-size: 15px;
        font-family: Georgia, 'Times New Roman', Times, serif;    }

        input[type=text] {
          display: flex;
          width: 175px;
          height:20px;
          box-sizing: border-box;
          border: 1px solid #ccc;
          border-radius: 20px;
          font-size: 12px;
          background-color: white;
          background-image: url('../../build/images/search.png');
          background-size: 15px;
          background-position: 10px 4.5px; 
          background-repeat: no-repeat;
          padding: 12px 20px 12px 40px;
          position: absolute;
          top:40px;
          right:200px;
          transition: 0.3s ease-in-out;
          
          
          &:hover {
            border: 1px solid rgb(121, 121, 121);
            transition: 0.3s ease-in-out;
          }
          }

.navbar {
    display: none;
}

body {
    margin:0;
    padding:0;
    overflow-x: hidden;

}

header {
        background:#111213;
        height:100px;
}

.logo {
  margin: 35px 0% 0% 29px;
  width:300px;
  height:auto;
}


.backBar {
  width:100%;
  background-color:#111213;
}

.backBarWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  h2 {
    font-family: 'Cormorant Garamond', serif;
    color:#969696;
    font-size:25px;
    text-align: left;
    font-weight: 100;

  }

  div {
    display: flex;
    flex-direction: column;
    width:50%;
    margin:20px 50px 20px 40px; 


    &:nth-child(2) {
      width:40%;
      margin: auto 0px;
    }
  }

  img {
    width:250px;
    height:auto;
  }

  a {
    width:100%;

  }
}

.articlesLeft {
    width:65%;
    padding-top:40px;
}
    .articles {
        display: flex;
        flex-direction: row;
        margin-top:0px;
        padding-top:30px;
        padding-bottom:30px;

        &:first-child {
            padding-top:0;
        }
        h1 {
          margin:0 ;
          padding-top:0px;
          font-size:22px;
          font-weight: 100;
      
        }
      
        img {
          margin-left:25px;
          background-color: #e5e5e5;
          border: 1px solid rgb(224, 224, 224);
          padding: 4px;
          width:185px;
          height:185px;
        }
      
      
        span {
          display: flex;
          flex-direction: column;
      
          button {
            background-color:#2c83b0;
            width:150px;
            height:32px;
            border-radius: 3px;
            color:#E1E1E1;
            box-shadow: 0px 1px 0.5px rgba(0,0,0,1);
            border-color: #59a4cb;
            transition: 0.3s ease-in-out;
      
      
            &:hover {
              background:#5ab0db;
              cursor: pointer;
              transition: 0.3s ease-in-out;
            }
          }
        }
      
        .rightWrapper {
          margin-left:25px;
      
          p {
            line-height: 21px;
            font-weight: 100;
            font-size:15px;
            font-family: Georgia, 'Times New Roman', Times, serif;
      
          }
          span {
            font-size:80%;
            color:#2c83b0;
          }
      
          h1 {
            color:black;
            font-family: 'Cormorant Garamond', serif;
            font-weight:300;
          }
        }
      }

      #sideBarNoMargin {
          margin-top:0;
      }

      .section1 {
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      
        .sideBar {
          background-image: url(../../build/images/gradientBackground.png);
          width:30%;
          height:100%;
          padding-bottom:50px;
          padding-top:40px;
      
          span {
            width:85%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
          }
      
          h1 {
            font-size:25px;
            font-weight: 100;
          }
        }
    }


.numberPages {
  margin-left:29px;
  margin-bottom:40px;
  button {
    width:100px;
    height:23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    background-color:#eeeeee;
    color:#9a9aa4;
    transition: 0.3s ease-in-out;

  
  }
}

.numberPages span button {
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 30px;
}
.line {
  width:100%;
  height:1px;
  background:radial-gradient(#E1E1E1, #fff);
  margin-left:29px;
  
  }

  span {
    button {
      font-family: Georgia, 'Times New Roman', Times, serif;
      width:30px;
  
      &:nth-child(1) {
        background-color: #c1c1c1;
        color:white;
      }
  
    }
  }
  
// SECTION 2


// SECTION 2 STARTS HERE
.section2 {
  background-color: white;
  padding:0px 29px 50px 29px;

  h1 {
    margin-top:0;
    font-size:25px;
    font-family: 'Cormorant Garamond', serif;
  }
}.sponsorIndividualLine {
  display: flex;
  flex-direction: row;
  width:100%;
  justify-content: space-between;

  span {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:35%;
  }
}
.sponsorFrame {
  border: 4px solid #f6f6f6;
  padding: 4px;
  width: 100px;
  height: 75px;
  overflow: hidden;
  display: flex;
  margin-top:6px;
  img {
    background-color: #e5e5e5;
    margin: auto;
    max-width: 100px;
    max-height: 70px;
    
  }
}

#lastLine {
  margin-bottom:50px;
  }


footer {
  background-color:#111213;
  padding-bottom:50px;

  .footerWrapper {
    width:95%;
    padding-left:29px;
    padding-right:29px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  .contentColumn {
    padding-top:29px;
    width:30%;
    display: flex;
    flex-direction: column;
    a {
      text-decoration: none;
      color:#6f6e6e;
      transition: 0.3s ease-in-out;

      &:hover {
        color:#5ab0db;
        cursor: pointer;
        transition: 0.3s ease-in-out;
      }
    }
    img {
      width:100%;
      height:auto;
    }

    h1 {
      color:#ffffff;
      font-family: 'Cormorant Garamond', serif;
      font-size:22px;
      font-weight: 100;
      margin-top:0;
      margin-bottom:10px;

    }
    
    p {
      color:#6f6e6e;
      font-weight: 100;
      font-size:13px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      line-height: 20px;
            }

    .lighter {
      color:#a3a3a3;
      font-weight: 100;
      font-family: Georgia, 'Times New Roman', Times, serif;

    }
  }
}

#footerSocial {
  width:230px;
  height:auto;
}




      //SLIDER 
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes jssorl-009-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  /*jssor slider bullet skin 032 css*/
  .jssorb032 { 
  position:absolute;
  }
  
  .jssorb032 .i {
  position:absolute;
  cursor:pointer;
  }
  
  .jssorb032 .i .b {
  fill:#2c83b0;
  fill-opacity:0.7;
  stroke-width:1200;
  stroke-miterlimit:10;
  stroke-opacity:0.25;
  }
  
  .jssorb032 .i:hover .b {
  fill:#2c83b0;
  fill-opacity:.6;
  stroke:#fff;
  stroke-opacity:.35;
  }
  
  .jssorb032 .iav .b {
  fill:#a3a3a3;
  fill-opacity:1;
  stroke-opacity:.35;
  }
  .jssorb032 .i.idn {
  opacity:.3;
  }
  
  /*jssor slider arrow skin 051 css*/
  .jssora051 {
  display:block;
  position:absolute;
  cursor:pointer;
  }
  
  .jssora051 .a {
  fill:none;
  stroke:#fff;
  stroke-width:360;
  stroke-miterlimit:10;
  }
  
  .jssora051:hover {
  opacity:.8;
  }
  
  .jssora051.jssora051dn {
  opacity:.5;
  }
  
  .jssora051.jssora051ds {
  opacity:.3;
  pointer-events:none;
  }
  
  #jssor_1 {
  position:relative;
  margin:0 auto;
  left:0px;
  width:1300px;
  height:500px;
  overflow:hidden;
  visibility:hidden;
  background: #111213;
  
  }
  
  
  #spin {
  margin-top:-19px;
  position:relative;
  top:50%;
  width:38px;
  height:38px
  }
  
  .jssorl-009-spin {
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  text-align:center;
  background-color:rgba(0,0,0,0.7);
  }
  
  .slides {
  cursor:default;
  position:relative;
  top:0px;
  left:0px;
  width:1300px;
  height:500px;
  overflow:hidden;
  }
  
  .jssorb032 {
  position:absolute;
  bottom:20px;
  left:-200% !important;
}
  
  .i {
  width:16px;
  height:16px
  }
  
  #viewBoxBox {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  }
  
  #viewbox {
  position:absolute;
  top:0;
  left:0px;
  width:100%;
  height:100%;
  }
  .jssora051 {
  width:65px;
  height:65px;
  top:0px;
  }
  
  #arrowLeft {
  display: none;
  }
  
  
  #arrowRight {
  display: none;
  }
}